.text-center{
    text-align: center;
}

.text-big{
    font-family: Arial unicode MS,sans-serif;
    margin-bottom: 5px;
    line-height: 150%;
    font-size: larger;
}

.text-middle{
    font-family: Arial unicode MS,sans-serif;
    font-size: medium;
}

.text-title{
    font-family: Arial unicode MS,sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 50px;
}

.text-bigger{
    font-family: Arial unicode MS,sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.text-line150{
    line-height: 150%;
}

.inputBox-big{
    margin-top: 5px;
    width: 460px;
    height: 45px;
}

.button-zero{
    border: 0;
    outline: 0;
    cursor: pointer
}
.text-delete{
    color: red;
    margin-top: 10px;
}
.text-impact{
    font-weight: 600;
}





.pagination{
    display: flex;
}

ul.pagination li{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

ul.pagination li a {
    font-family: Arial unicode MS,sans-serif;
}
ul.pagination li.active a {
}
ul.pagination li.active {
    background-color: #f9f9f9;
    border: 1px solid #aaaaaa;
}
ul.pagination li a:hover, ul.pagination li a.active {
    background-color: #f9f9f9;
}
.page-selection {
    width: 48px;
    height: 30px;
    color: #eeeeee;
}

