
#chart-view {
    position: relative;
    padding-bottom: 100px;
}

#chart-view .container {
    margin: 0 auto;
    width: 1130px;
}

#chart-view .container .one {
    display: flex;
    align-items: center;
    height: 170px;
    margin: 0 0 20px 0;
    border: black 3px solid;
}
#chart-view .container .one img {
    margin-left: 40px;
    margin-right: 20px;
    max-width: 80%;
    max-height: 80%;
}

#chart-view .container .one h1 {
    margin-left: 30px;
    font-size: xx-large;
    font-family: Arial unicode MS,sans-serif;
}

#chart-view .container .one span {
    margin-left: 30px;
    font-size: xxx-large;
    font-weight: bolder;
    color: orangered;
}

#chart-view .container .zero {
    display: flex;
    height: 30px;
    font-size: x-large;
    margin-bottom: 10px;
    font-family: Arial unicode MS,sans-serif;
    align-items: center;
}

#chart-view .container .zero span {
    margin-left: 30px;
}

#chart-view .container .box {
    display: flex;
}

#chart-view .container .box > .first-li {
    width: 900px;
    height: 1700px;
}
.page {
    display: flex;
    width: 900px;
    justify-content: center;
}

#chart-view .container .box .empty-box {
    margin-left: 50px;
    width: 250px;
}

#chart-view .container .box .empty-box > li{
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 1px 1px;
    height: 300px;
}

#chart-view .container .box .fl-box {
    position: relative;
    padding-bottom: 15px;
    height: 100px;
    background-color: white;
    width: 900px;
    align-items: center;
    display: flex;
    border-bottom: #cccccc 1px solid;
}
#chart-view .container .box .fl-box:first-child {
    border-radius: 20px;
    margin-bottom: 20px;
}

#chart-view .container .box .fl-box > img {
    position: absolute;
    right: 10px;
}

#chart-view .container .box .fl-box h1 {
    font-size: xx-large;
    font-weight: bold;
}

#chart-view .container .box .fl-box .card-img {
    max-width: 80%;
    max-height: 80%;
}

#chart-view .container .box .fl-box li {
    margin-left: 30px;
}

#chart-view .container .box .fl-box .img-wrap {
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
#chart-view .container .box .fl-box .row-box {
    display: block;
}

#chart-view .container .box .fl-box .row-box h2 {
    font-family: Arial unicode MS,sans-serif;
    font-size: x-large;
    margin-bottom: 10px;
}

#chart-view .container .box .fl-box .row-box h3 {
    font-size: large;
    color: grey;
}

#chart-view .container .box .fl-box .row-box h4 {
    font-size: xxx-large;
    font-weight: bolder;
    color: grey;
}


#container-wrap {
    width: 1130px;
    margin: 0 auto;
}

#container-wrap .container .banner {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    height: 115px;
    padding: 50px 0 60px 0;
    border: 3px black solid;
}
#container-wrap .container .banner > div{

}

#container-wrap .container .img {
    margin: 30px auto 0 auto;
    width: 300px;
}

#container-wrap .container .img img {
    width: 300px;
}
#container-wrap .container .row .data-box {
    box-shadow: 0.2px 0.2px;
    background-color: white;
    text-align: center;
}
#container-wrap .container .row .data-box h3 {
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 30px;
}
#container-wrap .container .row .data-box p {
    font-size: large;
    font-weight: normal;
    margin-bottom: 20px;
}
#container-wrap .container .row .data-box pre {
    font-size: large;
    font-weight: normal;
    text-align: left;
    margin: 40px 20px 20px 20px;
    line-height: 150%;
}
#container-wrap .container .row .data-box h4 {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
    color: orangered;
}
#container-wrap .container .row .data-box h5 {
    font-size: large;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 200%;
}
#container-wrap .container .row .data-box hr{
    border :0;
    border-top: 5px dotted #bbbbbb;
    margin-bottom: 20px;
}

#container-wrap .container .row .data-box pre{
    white-space: pre-line;
}
#container-wrap .upload-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.board-card{
    height: 500px;
    border: black 3px solid;
    margin: 50px 50px 80px 50px;
    padding: 50px;
}
.board-card .table{
    display: flex;
}
.board-card .table li{
    margin-left: 20px;
}