
#chart-view {
    position: relative;
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

#chart-view .container {
    padding: 0 0 0 60px;
    margin: 0 auto;
    width: 1190px;
}

#chart-view .container .one {
    display: flex;
    align-items: center;
    height: 200px;
    margin-right: 20px;
}
#chart-view .container .one img {
    margin-left: 10%;
    margin-right: 20px;
    width: 150px;
}

#chart-view .container .one h1 {
    font-size: xxx-large;
    font-weight: bold;
    color: darkslateblue;
}

#chart-view .container .one span {
    margin-right: 10px;
    font-size: xxx-large;
    font-weight: bolder;
    color: orangered;
}

#chart-view .container .zero {
    height: 40px;
    font-size: x-large;
    font-weight: bold;
}
#chart-view .container .box {
    display: flex;
}
#chart-view .container .box > li:first-child {
    width: 930px;
    height: 1200px;
}

#chart-view .container .box .empty-box {
    margin-left: 50px;
    width: 250px;
}

#chart-view .container .box .empty-box > li{
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 1px 1px;
    height: 300px;
}

#chart-view .container .box .fl-box {
    position: relative;
    height: 100px;
    background-color: white;
    box-shadow: 1px 1px;
    width: 900px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

#chart-view .container .box .fl-box > img {
    position: absolute;
    right: 0;
}

#chart-view .container .box .fl-box h1 {
    font-size: xx-large;
    font-weight: bold;
}

#chart-view .container .box .fl-box img {
    width: 70px;
}

#chart-view .container .box .fl-box li {
    margin-left: 40px;
}

#chart-view .container .box .fl-box .row-box {
    display: block;
}

#chart-view .container .box .fl-box .row-box h2 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 5px;
}

#chart-view .container .box .fl-box .row-box h3 {
    font-size: large;
    color: grey;
}

#chart-view .container .box .fl-box .row-box h4 {
    font-size: xxx-large;
    font-weight: bolder;
    color: grey;
}


