
.Carousel-wrap{
    height: 340px;
    background-color: #f5f5f5;
}

.Carousel-box{
    width: 1190px;
    margin: 0 auto;
}

.Carousel-box img{
    margin: auto;
}

.ant-carousel .slick-dots li  {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: black;
}

.showBar-wrap{
    margin: 0 auto;
    padding: 100px 0 100px 0;
    width: 900px;
    height: 350px;
}

.showBar-wrap .contents-wrap{
    margin: 0 auto;
    width: 900px;
}


.showBar-wrap .contents-wrap .contents{
    display: flex;
    margin: 0 7px 0 7px;
}

.showBar-wrap .contents-wrap .contents .content {
    margin: 0 15px 0 15px;
}

.showBar-wrap .contents-wrap .contents .content p{
    margin-top: 10px;
}


.event-card {
    z-index: 20;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    width: 1130px;
    height: 300px;
}

.event-card .card-object {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    width: 1130px;
    height: 200px;
}

.event-card .card-object .left{
    position: absolute;
    top: 35px;
    left: 10px;
}

.event-card .card-object .right{
    position: absolute;
    top: 35px;
    right: -15px;
}

.event-card .card-object .card-info{
    padding-left: 30px;
}

.event-card .card-object .card-info img {
    width: 221px;
    height: 130px;
    margin-bottom: 15px;
}

.go-board-wrap{
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    height: 800px;
}

.go-chart-wrap{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 800px;
}

.go-board{
    width: 1100px;
    height: 700px;
    margin: auto;
    text-align: center;
}


.go-board .text-show{
    margin-top: 5px;
}

.go-board .img-show img{
    margin-top: 30px;
    margin-left: 20px;
    width: 700px;
    height: 400px;
}


